@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Poppins:wght@200&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #F8F1F1;
}

/*NAV ------------------- */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    margin: 20px auto;
    width: 95%;
    background-color: #5EAAA8;
    border-radius: 10px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

nav a {
    text-decoration: none;
    margin: auto;
    padding: 5px;
    text-align: center;
    align-self: center;
    color: #F8F1F1;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 10px;
}

nav a:hover {
    color: #0f1624;
}

/* COMPRAR -------------------------*/

.comprar {
    margin: 30px auto;
    width: 95%;
    background-color: #F8F1F1;
    border-radius: 10px;
    padding: 15px 5px;
    text-align: center;
    border: 2px solid #A3D2CA;
}

.comprar a {
    text-decoration: none;
    color: #5EAAA8;
}

/* CATÁLOGO ------------------------------*/

.catalogo {
    margin: auto;
    padding: 5px;
    justify-content: center;
    text-align: center;
    width: 95%;
}

.catalogo h2 {
    margin: auto;
    border-radius: 10px;
    font-weight: 1000;
    color: #5EAAA8;   
}

.catalogo__items {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}


.item {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px auto;
    margin-left: 5px;
    margin-right: 5px;
    grid-gap: 5px;
    padding: 10px 5px;
    background-color: #F8F1F1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.item img {
    width: 125px;
    height: 195px;
    border-radius: 10px;
    margin: 5px auto;
}

.item h3 {
    font-size: 16px;
}

.item h4 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.item p {
    font-size: 20px;
}

.item a {
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: 1000;
    text-align: center;
    align-self: center;
    margin: 0 5px;
    color: #5EAAA8;
}

/* SUBIR ---------*/

.subir {
    margin: 15px;
}

.subir a {
    text-decoration: none;
    color: #5EAAA8;
}


/* FOOTER ------------------------*/

footer {
    display: grid;
    background-color: #EB5E0B;
    text-align: center;
    padding: 20px 5px;
    margin-top: 20px;
    color: #F8F1F1;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.contacto a {
    text-decoration: none;
    color: #F8F1F1;
}

.contacto {
    text-decoration: none;
    color: #F8F1F1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



